body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url('img/5_background/background_game.png');
    background-repeat: no-repeat;
    background-size: cover;
}

canvas {
    background-color: black;
    border-style: ridge;
    border-width: 10px;
    border-color: brown;
}

#control-button {
    background-image: url('img/buttons/controller.svg');
}

#top-start-button {
    background-image: url('img/buttons/play-button.svg');
}

#mute-button {
    background-image: url('');
}

#fullscreen-button {
    background-image: url('img/buttons/fullscreen.svg');
}